/*
Author: Brandon Hoover
Author URI: http://bhoover.com/

This style sheet makes the menu pretty, but NONE if it is required for the menu to function!
*/


/*
Simple resets
*/

* {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}

nav#mobile a {
    text-decoration: none;
    color: #FFF;
}


/*
Entire Menu System
*/

nav#mobile {
    background-color: #333;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
    display: none;
    width: 100%;
    position: fixed;
    z-index: 99999;
    margin-top: -50px;
}


/*
Top black bar that holds the toggle button
*/

nav#mobile #toggle-bar {
    line-height: 50px;
}


/*
Toggle button #1 ("Menu")
*/

nav#mobile strong a {
    margin-left: 10px;
    border: 1px solid #444;
    padding: 10px;
}


/*
Toggle button #2 ("Navicon")
*/

nav#mobile .navicon {
    float: right;
    height: 4px;
    width: 34px;
    margin: 15px;
    border-top: 10px double #FFF;
    border-bottom: 2px solid #FFF;
    font-size: 0;
}


/*
The dropdown menu
*/

nav#mobile ul li {
    clear: both;
    list-style: none;
}

nav#mobile ul li a {
    display: block;
    background-color: #333;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin: 2px 0;
    padding: 6px 0 6px 8px;
}

nav#mobile ul ul {
    font-size: small;
}

nav#mobile ul ul li {
    margin-left: 30px;
}

nav#mobile ul ul a {
    background-color: #333;
    padding-left: 8px;
}

nav#mobile ul ul a:before {
    content: "\2192";
    padding-right: 8px;
}


/*
Everything else (non menu related CSS for the filler page elements)
*/

article {
    padding: 10px 30px;
    line-height: 1.5em;
}

h1,
h2,
p {
    padding: .5em 0;
}

h1 {
    font-size: 2em;
    text-transform: uppercase;
}

h2 {
    color: #300;
    padding: .6em 0 .3em 0;
}

strong {
    font-weight: bold;
}

@media all and (max-width: 700px) {
    nav#mobile {
        display: block;
    }
}


/* main */

.title {
    font-size: 20px;
}

.text-center {
    text-align: center;
}

.big {
    font-size: 22px;
    background-color: #9e80ca;
    width: 300px;
    margin: 0 auto;
    color: #FFF;
    padding: 2px 6px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .big {
        font-size: 17px;
        width: 200px;
    }
}

p {
    color: #11385e;
}

.sale p {
    font-size: 16px;
}

.rwd-table {
    width: 70%;
    border-collapse: collapse;
    background: #fff;
    font-size: 15px;
    margin: 0 auto;
}

.rwd-table th,
.rwd-table td {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: left;
}

.rwd-table th {
    background: #cc6ac3cc;
    color: #fff;
}

.rwd-table tbody tr:nth-child(odd) {
    background: #fdffe7;
}

.rwd-table tbody tr:nth-child(even) {
    background: #f0f4f989;
}

.rwd-table td:nth-child(1) {
    data-label: "編號";
}

.rwd-table td:nth-child(2) {
    data-label: "品項";
}

.rwd-table td:nth-child(3) {
    data-label: "超值價";
}

.two-box {
    display: flex;
    width: 70%;
    margin: 0 auto;
    gap: 20px;
    margin-top: 20px;
}

.two-box .box {
    flex: 1;
    background: #fff9d6;
    padding: 10px 20;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    /* box-shadow: 0 3px 8px rgba(0,0,0,0.1); */
}

.pic {
    width: 180px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .rwd-table {
        width: 100%;
    }
    .two-box {
        width: 100%;
    }
    .pic {
        width: 60%;
        margin: 0 auto;
    }
}